.container{
   display: flex;
    flex-direction: column;
    width: fit-content;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
 .item{
    display: flex;
}
 .item>div{
    width: 90px;
    height: 80px;
    background-color:red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: black;
    transition: 0.4s ease;
    cursor: pointer;
}
 .sub-1>div,.sub-2>div{
    font-size: 50px;
    color: white;
    transition: 0.4s ease;
}
 .sub-1>div:nth-last-child(even),.sub-2>div:nth-last-child(odd),.sub-3>div:nth-last-child(even),.sub-4>div:nth-last-child(odd),.sub-5>div:nth-last-child(even),.sub-6>div:nth-last-child(odd),.sub-7>div:nth-last-child(even),.sub-8>div:nth-last-child(odd){
    background-color: black;
}
 .item>div:hover{
    font-size: 70px;
    color: red;
}